QM_BASE_URL=https://bbvamx.quantummetric.com
QM_BROWSER=chrome
QM_SESSION_MODE=browser
QM_COUNTRY=MX
QM_VERIFY_TLS=true
QM_DATA_DIR=data
QM_DEFAULT_DASHBOARD_URL=https://bbvamx.quantummetric.com/#/dashboard/8e53eb82-587c-4b92-a0fa-0f6283677e28?tab=0&teamID=1da677de-9313-4b49-9110-81a6b756ca7e
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8765
FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=5173
